html{
      background:url('/storage/images/bgimage.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .intro{
    background-color: rgba(26, 26, 26, 0.7);      
      position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      
    }
    body{
      /*position:;*/

    }  
    #text {
    	margin-top: 100px;
    }

    .head{
      color:white;
      }
      .subhead{
      color:white;

      letter-spacing: 3px;
    }

